@import '../constants/color';
@import '../mixins/responsive';


.go-home {
  position: fixed;
  left: 10px;
  bottom: 90px;
  z-index: 9;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid $main-color;
    border-radius: 50%;
    background-color: $white-color;
    transition: all .3s ease-in-out;
    
    .go-home__icon {
      font-size: 15px;
      color: $main-color;
    }
    
    &:hover {
      background-color: $main-color;
      cursor: pointer;

      .go-home__icon {
        color: $white-color;
      }
    }
  }

  @include responsive(T) {
    left: 40px;
  }
}