@import '../constants/color';
@import '../mixins/responsive';

.go-store {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 36px;
    border: 1px solid $main-color;
    border-radius: 5px;
    color: $black-color;
    background-color: $white-color;
    transition: all .3s ease-in-out;

    &:hover {
      color: $white-color;
      background-color: $main-color;
      cursor: pointer;
    }

    span {
      font-size: 12px;
      font-weight: 600;
    }

    @include responsive(T) {
      
      width: 150px;
      height: 44px;

      span {
        font-size: 16px;
      }
    }

    @include responsive(D) {
      width: 400px;
      height: 60px;
    }
  }
}