@import "../constants/demensions";
@import '../constants/color';
@import '../constants/font';
@import '../mixins/responsive';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height-sm;
  border-bottom: 1px solid rgb(228, 228, 228);
  margin-bottom: 15px;

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    .logo {
      &:hover {
        cursor: pointer;
      }

      img {
        width: 30px;
        height: auto;
      }
    }

    .logo__text {
      font-family: $font-logo;
      font-size: 24px;
      color: $main-color;

      &:hover {
        cursor: pointer;
      }
    }

    .notification {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }

      &__icon {
        width: 20px;
        height: 20px;
        padding: 4px;
        color: $main-color;
      }
    }

  }
  @include responsive(T) {
    height: $header-height-md;
    margin-bottom: 40px;
    &-box {
      .logo {
        img {
          width: 40px;
        }
      }
    }

    .logo__text {
      font-size: 26px;
    }

    .notification {
      &__icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  @include responsive(D) {
    margin-bottom: 50px;
    .logo__text {
      font-size: 30px;
    }
  }
}