@import '../mixins/responsive';
@import '../constants/color';
@import '../constants//breakpoint';

.news {
  width: 100%;
  margin-bottom: 30px;

  .news__title {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
  }

  &__list {
    padding: 0;

    .news__item {
      position: relative;
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      
      &:hover {
        cursor: pointer;
      }
      
      .news__image {
        width: 100%;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .news-item__title {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 210px;
        color: $white-color;
        z-index: 1;
      }
      
      .image__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black-color;
        opacity: .6;
      }
    }

    @include responsive(T) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      
      .news__item {
        
        .news__image {
          img {
            border-radius: 10px;
          }
        }

        .news-item__title {
          position: static;
          left: 0;
          bottom: 0;
          color: $black-color;
        }
        .image__bg {
          background-color: transparent;
        }
      }
    }
  }

  
}