@import '../constants/color';
@import '../constants/font';

.store {
  margin-bottom: 30px;
  
  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  &__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    .store__item {
      .store__cover {
        position: relative;
        width: 100%;
        margin-bottom: 8px;
        padding-bottom: 100%;
        overflow: hidden;
        
        .store__img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .store__info {
        .store__name {
          font-family: $font-main;
          font-weight: 700;
          font-size: 16px;
        }
        .store__rate {
          font-size: 14px;
          font-weight: 300;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
    @include responsive(T) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include responsive(D) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

}